.form__label {
  font-size: 25px;
  padding-right: 15px;
  margin-bottom: 50px;
  margin-left: 30px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form__input {
  height: 25px;
  color: black;
  font-size: 18px;
  background-color: #b8b9bb;
  border-radius: 3px;
  border: 3px solid #e46e0b;
  margin-bottom: 50px;
  padding-left: 5px;
  &.status {
    height: 35px;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
